:root {
    --pink: #e9c6d8;
    --white: #FFFFFF;
    --black: #000000;
    --purple: #a0b7d8;
    --lGreen: #a7c8b5;
    --midGreen: #87ab96;
    --dGreen: #42544a;
    --hoverGreen: #67a681;
}

body {
    background: var(--pink);
    color: var(--black);
    font-family: helvetica;
    background-image: url(images/light-theme-bg.png);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--midGreen);
}

li {
    float:right;
    border-right: 1px solid var(--purple);
}

li a {
    display:block;
    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--hoverGreen) ;
}

.active {
    background-color: var(--lGreen);
}