@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

:root {
    --pink: #e9c6d8;
    --white: #FFFFFF;
    --black: #000000;
    --purple: #a0b7d8;
    --lGreen: #a7c8b5;
    --midGreen: #87ab96;
    --dGreen: #42544a;
    --hoverGreen: #67a681;
}

/* Next 3 are about the top bar */
.header {
    background-color: var(--purple);
    text-align: left;
    padding: 10px;
    color: var(--dGreen);
}
.header h1{
    font-size: 55px;
    font-family: satisfy;
    
}

.site-identity {
    float: left;
}


/* next 2  control background and text styles */
body {
    background: var(--pink);
    color: var(--black);
    font-family: 'Open Sans', sans-serif;
    background-image: url(images/light-theme-bg.png);
    background-size: cover;
    font-size: 16px;
}

.h2 {
    font-family: 'Merriweather';
    color: var(--black);
}

/* next 3 creates 2 column view with responsiveness to screen size */
.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}


/* Next 4 control the nav bar settings */
.topnav {
    overflow: hidden;
    background-color: var(--midGreen);
}

.topnav a {
    float: right;
    display: block;
    color: var(--dGreen);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-left: 1px solid var(--dGreen);
}

/* changes the colour of nav button on hover */
.topnav a:hover {
    background-color: var(--hoverGreen) ;
}

/* changes the colour of nav button when active page */
.active {
    background-color: var(--lGreen);
}