:root {
    --pink: #e9c6d8;
    --white: #FFFFFF;
    --black: #000000;
    --purple: #a0b7d8;
    --lGreen: #a7c8b5;
    --midGreen: #87ab96;
    --dGreen: #42544a;
    --hoverGreen: #67a681;
}

.header {
    background-color: var(--purple);
    text-align: left;
    padding: 40px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    background: var(--pink);
    color: var(--black);
    font-family: helvetica;
    background-image: url(images/light-theme-bg.png);
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--midGreen);
    position: fixed;
    right: 0;
    top: 10;
    width: 20%;
}

li {
    float: right;
    border-left: 1px solid var(--dGreen);
}

li a {
    display:block;
    color: var(--black);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: var(--hoverGreen) ;
}

.active {
    background-color: var(--lGreen);
}